<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Bovary', separator: '&raquo;' %>
  <title><%= page_title %></title>
  <meta charset="UTF-8">
  <meta name="keywords" content="open access en question">
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> 
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
 <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed|Merriweather' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Francois+One|Shadows+Into+Light|Bree+Serif' rel='stylesheet' type='text/css'>
<% stylesheets =  "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" , '2015/styles.css'
%>

<% stylesheets.each do |style| %>
  <%= stylesheet_link_tag style %>
<% end %>

<style type="text/css">
section.header_name h1{
  font-family: 'Francois One', sans-serif;
}
section.header_name h1 span{
  font-family: 'Shadows Into Light', cursive;
}
</style>


<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js", "scrollReveal.min.js", 'jquery.particleground.min.js'   %>


</head>

<body>

<section class="header_name">
	<div class="container">
		<h1><a href="/" style="text-decoration:none;color:black;">Guinslym::<span>&nbsp;My Blog</span></a></h1>
	</div>
</section>



<div id="particles-js"></div>


<%= yield %>

<div id="homer">
  <div class="head">
            
          <!-- Hair and top of head -->
          <div class="hair1"></div>
          <div class="hair2"></div>
          <div class="body head-top"></div>
          <div class="no-border body head-main"></div>

          <!-- The 'M' above the ear -->
          <div class="no-border m1"></div>
          <div class="no-border m2"></div>
          <div class="no-border m3"></div>
          <div class="no-border m4"></div>

          <!-- The neck parts -->
          <div class="no-border neck1"></div>
          <div class="body neck2"></div>

          <!-- The ear -->
          <div class="body ear">
        <div class="no-border inner1"></div>
        <div class="no-border inner2"></div>
        <div class="no-border body clip"></div>
          </div>

          <!-- The mouth -->
          <div class="mouth">
        <div class="mouth5"></div>
        <div class="mouth2"></div>
        <div class="mouth1"></div>
        <div class="mouth7"></div>
        <div class="no-border mouth3"></div>
        <div class="no-border mouth4"></div>
        <div class="no-border mouth6"></div>
        <div class="no-border mouth8"></div>
          </div>

          <!-- The right eye -->
          <div class="right-eye">
        <div class="no-border right-eye-pupil"></div>
        <div class="no-border body eyelid-top"></div>
        <div class="no-border body eyelid-bottom"></div>
          </div>

          <!-- The nose -->
          <div class="body nose"></div>
          <div class="body nose-tip"></div>

          <!-- The left eye -->
          <div class="left-eye">
        <div class="no-border left-eye-pupil"></div>
        <div class="no-border body eyelid-top"></div>
        <div class="no-border body eyelid-bottom"></div>
          </div>
      </div>
</div>
</body>
<script src="http://vincentgarreau.com/particles.js/particles.js"></script>
<script>
function pJS_desktop(){
  particlesJS('particles-js', {
    particles: {
      color: '#fff',
      shape: 'circle',
      opacity: 1,
      size: 2.5,
      size_random: true,
      nb: 100,
      line_linked: {
        enable_auto: true,
        distance: 250,
        color: '#fff',
        opacity: 0.5,
        width: 1,
        condensed_mode: {
            enable: false,
            rotateX: 600,
            rotateY: 600
        }
      },
      anim: {
        enable: true,
        speed: 3
      }
    },
    interactivity: {
      enable: true,
      mouse: {
        distance: 200
      },
      detect_on: 'canvas',
      mode: 'grab',
      line_linked: {
        opacity: .5
      },
      events: {
        onclick: {
          enable: true,
          mode: 'push',
          nb: 4
        }
      }
    },
    retina_detect: true
  });
}


if(window.innerWidth > 1100){
  pJS_desktop();
}else{
  pJS_mobile();
}

/* on resize */

window.addEventListener('resize', function() {
  checkOnResize();
}, true);

function checkOnResize(){
  if(window.innerWidth > 1100){
    if(pJS.particles.nb != 150){
      console.log('desktop mode')
      pJS.fn.vendors.destroy();
      pJS_desktop();
    }
  }else{
    if(pJS.particles.nb == 150){
      console.log('mobile mode');
      pJS.fn.vendors.destroy();
      pJS_mobile();
    }
  }
}
</script>



</html>
