<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog de Guinsly Mondésir<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/stylesheets/animate.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Pacifico|Headland+One' rel='stylesheet' type='text/css'>

<style>
h4.links{
font-family: 'Headland One', serif;
font-size: 1.2em;
}
  body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
h2{
 font-family: 'Pacifico', cursive;
}

html, body {
    background: none repeat scroll 0 0 #e5e5e5;
    font-family: Lato,sans-serif;
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
html, body {
    min-height: 100%;
    background-color: #CCDDEE;
}

#article div.well {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-radius: 13px;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: none;
    max-height: 100000px;
    min-height: 63px;
    padding: 20px;
    position: relative;
    transition: max-height 0.5s ease 0s;
}

#headerwrap {
    background: url("http://www.basicoh.com/demo/try/assets/css/../img/header-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-height: 550px;
    padding-top: 0;
    text-align: left;
}

td{
  border-bottom: 1px dotted #666;
}


#quote {
    padding-bottom: 55px;
    padding-top: 55px;
}

h1#header {
    font-family: "Pacifico";
    font-size: 62px;
    padding: 50px;
    text-align: center;
    text-shadow: 0 2px 2px #3c77b3;
}
h1.text-primary {
    color: #428bca;
}

#quote {
    background-color: #5BC0DE;
}
#profile {
    background-color: white;
}

#footer {
    background: none repeat scroll 0 0 #343434;
    color: #f2f2f2;
    padding-bottom: 30px;
    padding-top: 30px;
}
#copyright {
    background-color: #151515;
    color: #f2f2f2;
    padding-top: 15px;
}
</style>
  </head>
 
    
    







<!--
      <hr>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
    </aside>
       
    <div class="row text-center">
       <h1><a href="http://guinsly-middleman.herokuapp.com/" target="_blank">My profile's page</a></h1> 
    </div>


      </div>
    </div>

  </body>
-->

<body>
<div id="main" role="main" class="container">
      <%= yield %>
    </div>



  <section id="headerwrap">
  <div class="jumbotron text-center">
      <h1 class="text-primary" id="header">My Blog</h1>
    </div>
  </section>






<section id="article">

  <div class="container">

<div class="row"> 
   <div class="col-lg-9">

 <h2>Most recent articles</h2>


     <!-- begining of ruby each -->
<% blog.articles[0...10].each do |article| %>
    <div class="row">
     
      <div class="col-lg-12">
       <div class="well">

         <div class="row">
           <div class="col-lg-12">
	       <br>
             <h3><%= link_to  article.title, article %></h3>
	     <p class="text-muted"><%= article.date.strftime('%b %e') %></p>
           </div>
	</div>
     </div>

   </div><!-- offset-2 -->
  </div>

 <% end %><!-- end of .each -->
  <!--- end of ruby each -->


 </div>



   <div class="col-lg-3"> 
<h2>Tags</h2>
    <div class="well"> 
             
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>
   <!--
      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>
  -->

    </div>


    </div>
</div>
 
  


  <hr>

</div><!-- container -->











<section id="other">
  <div class="container">
  <div class="row">
   <div class="col-lg-5">
     <!-- suggestion videos --> 
  <h2>Latest liked video</h2> 
       <div class="well">
	<h3>Music Information Retrieval Using Locality Sensitive Hashing</h3>
<div class="embed-responsive embed-responsive-16by9">
      <iframe allowfullscreen="" src="//www.youtube.com/embed/SghMq1xBJPI" class="embed-responsive-item"></iframe>
    </div>

     </div>

   </div>



   <div class="col-lg-7">
<!-- http://eisenbraun.github.io/columns/ -->
     <h2>Mon coup de coeur sur le web (<%= Date.today %>)</h2> 
    <!-- List suggestions d'articles --> 

       <div class="well">
        <table>
	<% data.links.liens.each do |n| %>
           <% if n.date %>
          <tr>
            <td><h4 class="links"><a href="<%= n.link %>" target="_blank"><%= n.title %> </a>&nbsp; <span class="badge"><%= n.categorie %></span></h4></td>
          </tr>
         <% end %>
	<% end %>
        </table>
     </div>
   </div>
   




 </div><!-- fin row -->
</div>
</section>

<style>
#bio{
  min-height: 200px;
  background-color: white;
  padding: 50px 0;
  font-size: 1.4em;
}
p{
  text-align:justify;
}
.vcenter p{
  //padding-top: 80px;
}
blockquote{
  font-family: "Headland One",serif;
  font-size: 1.4em;
}


</style>
<div id="bio">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<a class="thumbnail wow slideInLeft animated animated" href="#" style="visibility: visible;">
          <img width="408px" height="287px" class="image-perso " alt="Picture of Guinsly Mondésir" src="http://i121.photobucket.com/albums/o205/guinslym/personal-site-and-blog/1379439_527803443957259_1306009396_n_zpsd3fb9136.jpg">
        </a>
						
					</div>
                                        <div class="col-lg-8 vcenter">
				

<ul role="tablist" class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" role="tab" href="#home">En</a></li>
      <li><a data-toggle="tab" role="tab" href="#profiler">Fr</a></li>
	<li><a data-toggle="tab" role="tab" href="#portuguese">Pt</a></li>
    </ul>

<div class="tab-content" id="myTabContent">
      <div id="home" class="tab-pane fade in active">
         <p>I'm a web developer and a UX designer with experience using Ruby, javascript and php. I have a certificate in computer programming from Universit&eacute; de Montr&eacute;al and I'm doing a master in Information Studies at University of Ottawa. When I'm not studying or coding the next Big thing, I'm canoying, Meetuping, or having fun with pals around a mug of coffee. <a href="https://github.com/guinslym/guinslym-resume" target="_blank"><span class="badge">my resume</span></a> </p>
      </div>
      <div id="profiler" class="tab-pane fade">
        <p>Je suis un programmeur d'interface web avec beaucoup d'expériences en ruby, javascript et php. J'ai un certificat en programmation web de l'Universit&eacute; de Montr&eacute;al et je fais présentement une maîtrise en Sciences de l'Information à l'Universit&eacute; d'Ottawa. Mes passe-temps ce résument à la programmation sinon, faire du cano&eacute;, participer dans un Meetup et avoir du fun entre amis dans un Starbucks. <a href="https://github.com/guinslym/guinslym-resume" target="_blank"><span class="badge">mon cv</span></a></p>
        <!--
<blockquote>Ma face est tellement belle que si l'Bon Dieu avait fait une face plus belle que la mienne; et ben il l'aurait gardé pour lui!!!</blockquote>
-->
      </div>
 <div id="portuguese" class="tab-pane fade">
        <p>Eu sou programador de linguagens para internet (desenvolvedor web) e um designer UX, h&aacute; uns 3 anos  com experi&ecirc;ncia no uso de Ruby, JavaScript e PHP. Eu tenho um certificado em programa&ccedil;ão de computadores pela Universit&eacute; de Montréal e estou fazendo um master em Sciencia da Informa&ccedil;&atilde;o no Universit&eacute; de Ottawa. Quando eu n&atilde;o estou estudando ou programa&ccedil;ando a pr&oacute;xima Big Thing, estou canoying , Meetuping , ou se divertindo com meus amigos. <a href="https://github.com/guinslym/guinslym-resume" target="_blank"><span class="badge">cv</span></a></p>

      </div>
    </div>		
					</div>
				</div>
			</div>
		</div>





<div id="quote">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-lg-offset-5">
			
						<!-- End of button-full -->
					</div><!-- /span2 -->
				</div><!-- /row -->
			</div><!-- /container -->
		</div>

<div id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
                                          <p>Copyright 2014 <!--- <a href="http://guinsly-middleman.herokuapp.com/" target="_blank">My profile </a> --></p>
					</div>
					<div class="col-lg-3">
                                          <p><a href="/feed.xml"><i class="fa fa-rss"></i> </a> | <a href="https://github.com/guinslym" target="_blank"> <i class="fa fa-github"></i>
                                          </a></p>
					</div>
				</div>
			</div>
		</div>






</section>


  
</body>


</html>
